.valid-feedback{
  color: #25ff00;
}

.form-control.is-valid:focus, .form-control:valid:focus{
  border-color: #25ff00 !important;
}

.form-control.is-invalid:focus, .was-validated .form-control:invalid:focus{
  border-color: #ff0000 !important;
}

.invalid-feedback{
  color: #ff0000 !important;
}