<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="/vite.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/dist/vendor.css">
    <link rel="stylesheet" href="/dist/app.css">
    <title>Vite + React</title>
  </head>
  <body>
    <div id="root"></div>
    <!-- footer -->
    <footer class="text-white pt-5">
      <!-- Línea divisoria y derechos reservados -->
      <div class="text-center bg-secondary py-3 mt-4">
        <p class="mb-0">© 2025 Végueta. Todos los derechos reservados.</p>
      </div>
    </footer>
    <!-- scripts -->
    <script type="module" crossorigin src="/dist/vendor.js"></script>
    <script type="module" crossorigin src="/dist/app.js"></script>
  </body>
</html>
