{% extends './_app.html' %}
{% block extra_head %}
  
{% endblock %}


{% block content %}
<div class="container mt-5">
  <h2 class="mb-4">Lista de Usuarios</h2>
  {% if locals['message'] != None %}
    <div class="alert alert-{{locals['message']['status']}}" role="alert">
      {{locals['message']['body']}}
    </div>
  {% endif %}
  <div class="row">
    <div class="col-md-5">
      <a class="btn btn-success" href="/admin/body-parts/add">Agregar</a>
      <table class="table table-striped table-bordered table-hover">
        <thead class="table-dark">
          <tr>
            <th>Nombre</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody>
          {% for body_part in locals['body_parts'] %}
            <tr>
              <td>{{body_part.name}}</td>
              <td>
                <a class="btn btn-primary" href="/admin/body-parts/edit/{{body_part.id}}">Editar</a>
                <a class="btn btn-secondary" href="/admin/body-parts/delete/{{body_part.id}}">Eliminar</a>
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
{% endblock %}

{% block extra_scripts %}
  <script src="/js/admin-user.js"></script>
{% endblock %}