<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/styles.css">
  <title>{{locals['title'] | default('Végueta')}}</title>
  {% block extra_head %}{% endblock %}
</head>
<body>
  {% block content %}{% endblock %}
  <!-- scripts -->
  <script src="/js/bootstrap.min.js"></script>
  {% block extra_scripts %}{% endblock %}
</body>
</html>